<div class="resume-section-content">
    <form method="post">
        <h2 class="mb-5">Interests</h2>

        <label>Name Surname</label>
        <input type="text" class="form-control" name="AdSoyad" />
        <label>Mail</label>
        <input type="email" class="form-control" name="Mail"/>
        <label>Subject</label>
        <input type="text" class="form-control"  name="Konu"/>
        <label>Message</label>
        <input type="text" class="form-control" name="Mesaj"/>
        <br />
        <button class="btn btn-info">Send Message</button>
    </form>
    
</div>
