@using MvcResume.Models.Entity
@model List<TblHobilerim>


<div class="resume-section-content">
    <h2 class="mb-5">Interests</h2>

    <label>Name Surname</label>
    <input type="text" class="form-control" />
    <label>Mail</label>
    <input type="email" class="form-control" />
    <label>Konu</label>
    <input type="text" class="form-control" />
    <label>Message</label>
    <input type="text" class="form-control" />
    <br />
    <button class="btn btn-info">Send Message</button>
    
</div>
