@using MvcResume.Models.Entity
@model List<TblSosyalMedya>

<div class="social-icons">
    <a class="social-icon" href="#!"><i class="fab fa-linkedin-in"></i></a>
    <a class="social-icon" href="#!"><i class="fab fa-github"></i></a>
    <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
    <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a>
</div>
