
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>About Myself</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>City</th>

    </tr>
    <tr>
        <td>1</td>
        <td>Ali Mert</td>
        <td>Sivas</td>


    </tr>
    <tr>

    </tr>
</table>

