@using MvcResume.Models.Entity
@model List<TblAbout>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<br />
<h2>Page of Edit About Myself</h2>
<br />
<form method="post">
    @foreach (var x in Model)
    {
        <label>Name</label>
        <input type="text" name="Name" value="@x.Name" class="form-control" />
<textarea rows="8" class="form-control" name="Aciklama1">@x.Description</textarea> <br />
        <label>Surname</label>
        <input type="text" name="Surname" value="@x.Surname" class="form-control" />
<textarea rows="8" class="form-control" name="Aciklama1">@x.Description</textarea>
    }
    <br />
    <button class="btn btn-info">Update</button>
</form>

