
@{
    ViewBag.Title = "AdminEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>New Username Add Page</h4>
<br />
<form method="post">

    <input type="text" name="KullaniciAdi" class="form-control" placeholder="Username" />
    <br />
    <input type="text" name="Sifre" class="form-control" placeholder="Password" />
    <br />
    <button class="btn btn-success">Save</button>

</form>


