
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Test</h2>
<br />
<h1 style="color: #00ffff">
    Hello World
</h1>
<a href="/Home/Test2" class="btn btn-warning">Test2 ye git</a>