@using MvcResume.Models.Entity
@model List<TblDeneyimlerim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>
    Experience List
</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Header</th>
        <th>Header2</th>
        <th>Date</th>
        <th>Delete</th>
        <th>Change</th>



    </tr>
    @foreach(var x in Model) {
    <tr>
        <td>@x.ID</td>
        <td>@x.Baslik</td>
        <td>@x.AltBaslik</td>
        <td>@x.Tarih</td>
        <td><a href="#" class="btn btn-danger">Delete</a></td>
        <td><a href="#" class="btn btn-warning">Change</a></td>


    </tr>
    }
</table>
<a href="/Deneyim/AddExperience/" class="btn btn-success">Add New Experience</a>

